<footer class="container-fluid footer_section ">
    <div class="container">
        <p>
            &copy; <span id="displayDate"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </div>
</footer>
<!-- end  footer section -->


<script src="~/assets/js/jquery-3.4.1.min.js"></script>
<script src="~/assets/js/bootstrap.js"></script>
<script src="~/assets/js/custom.js"></script>

